<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

</div>


<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <span class="main-icon glyphicon glyphicon-home"></span>
        Casas en Venta
        <small>Ofertas</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <div>
    <div class="row">

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="app\components\images\casasGeneral\ventas\casaVenta3.jpg" alt="">
          <div class="caption">
            <h4 class="pull-right">$195.000</h4>
            <h4><a ng-click="casasAlquiler.moreDetails()" style="cursor: pointer;">Achumani</a>
            </h4>
            <p>Construcción de 468mt2 en obra fina, sobre 300mt2 de terreno, 4 Dormitorios 2 en Suite, 5 Baños, Solario, garaje para 3 autos, escritorio, cocina con comedor...</p>
          </div>
          <div class="ratings">
            <p class="pull-right">15 vistas</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="app\components\images\casasGeneral\ventas\casaVenta1.jpg" alt="">
          <div class="caption">
            <h4 class="pull-right">$320.000</h4>
            <h4><a href="#">Calle 34</a>
            </h4>
            <p>Urbanizacion Privada
              2 Dormitorios en Suite
              2 Dormitorios
              Baño Compartido
              Living Comedor
              Sala de Juegos
              Sala de Estar
              Garage para 2 Vehiculos...</p>
          </div>
          <div class="ratings">
            <p class="pull-right">12 vistas</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="app\components\images\casasGeneral\ventas\casaVenta2.jpg" alt="">
          <div class="caption">
            <h4 class="pull-right">$165.000</h4>
            <h4><a href="#">Achumani las lomas</a>
            </h4>
            <p>terreno en achumani las Lomas, con construccion de 1 piso,2 dormitorios,2 baños,1 coc..</p>
          </div>
          <div class="ratings">
            <p class="pull-right">31 vistas</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="app\components\images\casasGeneral\ventas\casaVenta4.jpg" alt="">
          <div class="caption">
            <h4 class="pull-right">$164.000</h4>
            <h4><a href="#">Colinas de Achumani</a>
            </h4>
            <p>con cortinas modernas, alfombras, condominio con club house, cancha y jardines. se puede hacer traspaso de crédito bancario...</p>
          </div>
          <div class="ratings">
            <p class="pull-right">6 vistas</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="app\components\images\casasGeneral\ventas\casaVenta5.jpg" alt="">
          <div class="caption">
            <h4 class="pull-right">$us 320,000</h4>
            <h4><a href="#">San Miguel</a>
            </h4>
            <p>SAN MIGUEL Cerca colegio Loreto, Estoy interesado en esta propiedad, por favor contactarme.</p>
          </div>
          <div class="ratings">
            <p class="pull-right">11 vistas</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="app\components\images\casasGeneral\ventas\casaVenta6.jpg" alt="">
          <div class="caption">
            <h4 class="pull-right">$630.000</h4>
            <h4><a href="#">Calle 21</a>
            </h4>
            <p>Estoy interesado en esta propiedad, por favor contactarme.</p>
          </div>
          <div class="ratings">
            <p class="pull-right">18 vistas</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </p>
          </div>
        </div>
      </div>

      <div ng-if="showFake">
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img src="app\components\images\casasGeneral\ventas\imageExample.jpg" alt="">
            <div class="caption">
              <h4 class="pull-right">$500.000</h4>
              <h4 ng-click="casasAlquiler.detailExample()"><a>San Miguel</a>
              </h4>
              <p>Av. Montenegro Casa Grande, 2 dormitorios, 1 cocina, 2 baños, 3 pisos.</p>
            </div>
            <div class="ratings">
              <p class="pull-right">1 vista</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- /.container -->

<style>
  /* Carousel base class */
  .carousel {
    height: 500px;
    /*margin-bottom: 60px;*/
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }

  .caption {
    height: 130px;
    overflow: hidden;
  }

  .caption h4 {
    white-space: nowrap;
  }

  .thumbnail img {
    width: 100%;
    max-height: 180px;
  }

  .ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
  }

  .thumbnail {
    padding: 0;
    height:inherit;
  }

  .thumbnail .caption-full {
    padding: 9px;
    color: #333;
  }

  footer {
    margin: 50px 0;
  }

</style>

<script>
  $('#myCarousel').carousel({
    interval: 4000
  });

  var i;

  $('.carousel-control').on("mouseover", function () {
    var control = $(this),
      interval = 500;

    i = setInterval(function () {
      control.trigger("click");
    }, interval);
  })
    .on("mouseout", function () {
      clearInterval(i);
    });
</script>
