<div class="modal-header" style="border-bottom: 0px;">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  </button>
  <h3 class="modal-title text-center" style="color: #3b5998">Politicas de uso y seguridad</h3>
</div>
<div class="modal-body">
  <h4 style="color: #3b5998">Qualia te recuerda:</h4>
  <p style="margin-top:10px;"><strong>Toda actividad considerada como ilícita durante el uso
    de nuestra plataforma será sancionada de acuerdo
    CÓDIGO PENAL BOLIVIANO DECRETO LEY 10426 DE 23 AGOSTO DE 1972 por
    las autoridades correspondientes.</strong></p>

  <p>QUALIA S.R.L. está comprometida a brindar un experiencia segura y de calidad
    y calidez a todos nuestros usarios y clientes.</p>

</div>
<div class="modal-footer">
  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
  <button type="button" class="btn btn-primary" ng-click="closeThisDialog()">ENTENDIDO</button>
</div>
