<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

</div>


<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <span class="main-icon glyphicon glyphicon-home"></span>
        Casas
        <small>Categorias</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <div>
    <!-- Projects Row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a ng-click="tipoCasas.goTipoCasa('alquiler')" style="cursor: pointer;">
          <img class="img-responsive" src="app\components\images\casasCategorias\casaCat1.jpg" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a ng-click="tipoCasas.goTipoCasa('alquiler')" style="cursor: pointer;">Casas en venta</a>
          </h3>
          <p>Encuentra una gran variedad de casas y departamentos disponibles a la venta.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-item">
        <a ng-click="tipoCasas.goTipoCasa('alquiler')" style="cursor: pointer;">
          <img class="img-responsive" src="app\components\images\casasCategorias\casaCat2.jpg" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a ng-click="tipoCasas.goTipoCasa('alquiler')" style="cursor: pointer;">Casas en alquiler</a>
          </h3>
          <p>Diversos lugares como casas, departamenteos y locales en oferta de alquiler.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="app\components\images\casasCategorias\casaCat3.jpg" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Oficinas y locales</a>
          </h3>
          <p>Una lista de lugares convenientes y centricos para oficinas y consultorios. Encuentralos aqui!!</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="app\components\images\casasCategorias\casaCat4.jpg" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Terrenos</a>
          </h3>
          <p>Amplios terrenos en distintos lugares de la region y en el interior. Consulta mas detalles ingresando aqui.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="app\components\images\casasCategorias\casaCat5.jpg" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Alquiler temporario</a>
          </h3>
          <p>Lugares ofrecidos para alquileres de lugares y casas para eventos cortos o ceremonias.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="app\components\images\casasCategorias\casaCat6.jpg" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Casas en Anticrético</a>
          </h3>
          <p>Encuentra las casas en anticretico en la region de diferentes precios y ubicaciones.</p>
        </div></div>
    </div>

    <!-- Projects Row -->
    <div class="row"ng-if="false">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Casas en venta</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div></div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Casas en venta</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div></div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <div class="text-justify">
          <h3 class="text-center">
            <a href="#">Casas en venta</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div></div>
    </div>
    <!-- /.row -->
  </div>

</div>
<!-- /.container -->

<style>
  /* Carousel base class */
  .carousel {
    height: 500px;
    /*margin-bottom: 60px;*/
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }

  .caption {
    height: 130px;
    overflow: hidden;
  }

  .caption h4 {
    white-space: nowrap;
  }

  .thumbnail img {
    width: 100%;
  }

  .ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
  }

  .thumbnail {
    padding: 0;
    height:inherit;
  }

  .thumbnail .caption-full {
    padding: 9px;
    color: #333;
  }

  footer {
    margin: 50px 0;
  }

</style>

<script>
  $('#myCarousel').carousel({
    interval: 4000
  });

  var i;

  $('.carousel-control').on("mouseover", function () {
    var control = $(this),
      interval = 500;

    i = setInterval(function () {
      control.trigger("click");
    }, interval);
  })
    .on("mouseout", function () {
      clearInterval(i);
    });
</script>
