<div>
  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="cover.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="cover.login()">Iniciar</button>
      <button type="button" class="btn btn-lg btn-success" ng-click="cover.register()">Registrarse</button>
    </p>
  </div>

</div>
