<!doctype html>
<html ng-app="bc" ng-controller="MainController as main">
  <head>
    <meta charset="utf-8">
    <title>bc</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
    <link rel='stylesheet prefetch' href='http://weloveiconfonts.com/api/?family=fontawesome'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <script src="lib/ng-dialog/js/ngDialog.min.js"></script>

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Navigation -->
    <nav ng-if="uiRouterState.current.name!=='cover'" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" ng-click="main.goDashboard()" style="cursor: pointer;">
            <span class="main-icon glyphicon glyphicon-send"></span>
            Qualia</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" style="cursor: pointer;">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a ng-click="main.register()">Registrarse</a>
            </li>
            <li>
              <a ng-click="main.login()">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <div ui-view style="margin-top: 50px;"></div>

    <style>
      body{
        background-color: #f7f7f7;
      }
      .main-icon{
        margin-right:5px;
      }
      .ngdialog-content{
        background: #ffffff !important;
      }
    </style>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- Controllers -->
    <script src="app/components/cover/cover.controller.js"></script>
    <script src="app/components/categorias/casas/tipoCasas/tipoCasas.controller.js"></script>
    <script src="app/components/categorias/casas/casasAlquiler/casasAlquiler.controller.js"></script>
    <!-- Directives -->

    <!-- Services -->
    <script src="app/components/auth/auth.service.js"></script>
    <script src="app/components/auth/login/login.service.js"></script>
    <script src="app/components/auth/register/register.service.js"></script>

    <script src="../bower_components/ng-dialog/js/ngDialog.min.js"></script>

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
